<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review - Registration</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                </div>
            </div>
        </nav>

        <!--Add a registration form here -->
        <form action="{% url 'djangoapp:registration' %}" method="post">
            <div class="container">
                <h1>Sign Up</h1>
                <hr>
                <div>
                    <label for="username"><b>User Name:</b></label>
                </div>
                <div>
                    <input type="text" placeholder="enter user name here" name="username" required>
                </div>
                <div>
                    <label for="firstname"><b>First Name:</b></label>
                </div>
                <div>
                    <input type="text" placeholder="enter first name here" name="firstname" required>
                </div>
                <div>
                    <label for="lastname"><b>Last Name:</b></label>
                </div>
                <div>
                    <input type="text" placeholder="enter last name here" name="lastname" required>
                </div>
                <div>
                    <label for="psw"><b>Password:</b></label>
                </div>
                <div>
                    <input type="password" placeholder="enter password here" name="psw" required>
                </div>
                <br>
                <div>
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit"><b>Sign Up</b></button>
                </div>
                <br>
            </div>
        </form>
    </body>

    <footer class="bg-light navbar-light text-center">
        <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
    </footer>
</html>